$min-width: 320px;
$max-width: 1330px;

$black: #000;
$white: #fff;
$base-color: #333;
$base-color-secondary:#272727;
$color-primary: #52a8d0;

$primary-link-color: $color-primary;
$secondary-link-color: #e95a22;

$body-background: #e5e5e5;
$base-background: $white;
$primary-background: #1b252f;
$secondary-background: #212e3b;
$light-gray: #cbcbcb;
$task-background: #f8f8f8;
$input-option-color: #aab6c7;

$base-font-family: 'arial', sans-serif;
$base-font-size: 14px;
$base-line-height: 1.45em;
$base-font-weight: 400;

$heading-color: $base-color;
$heading-font-family: $base-font-family;
$heading-font-weight: 700;
$heading-second-font-weight: 400;
$heading-line-height: $base-line-height;
